* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 20px 60px;
  border-bottom: 2px solid #000;
}

nav .logo {
  font-weight: 700;
  font-size: 20px;
  margin-right: auto;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  padding: 8px 14px;
  overflow: hidden;
  transition: color 0.35s ease;
  z-index: 1;
  border-radius: 50px;
}

/* BACKGROUND FILL EFFECT */
nav a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #57ff2d;
 border-radius: 50px;
  transform: translate(-50%, -50%);
  transition: width 0.35s ease, height 0.35s ease;
  z-index: -1;
}

/* HOVER EFFECT */
nav a:hover::before {
  width: 120%;
  height: 300%;
  border-radius: 50px;
}

nav a:hover {
  color: #ffffff;
  border-radius: 50px;
}

body {
  background-color: #ffffff;
  color: #000000;
}

.skills-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
}

.skills-container h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.skill-section {
  margin-bottom: 35px;
}

.skill-section h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skills button {
  background-color: white;
  color: black;
  border: 1.5px solid black;
  padding: 10px 18px;
  cursor: default;
  font-size: 14px;
  transition: all 0.3s ease;
}

.skills button:hover {
  background-color: black;
  color: white;
}
footer {
  border-top: 2px solid #000;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

footer a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

footer img {
  width: 20px;
  height: 20px;
}

/* ===================== MOBILE (≤768px) ===================== */
@media (max-width: 768px) {

  /* NAVBAR */
  nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px 20px;
  }

  .nav-logo {
   
    text-align: center;
    margin-bottom: 10px;
  }

  nav a {
    font-size: 14px;
  }

  /* SKILLS CONTAINER */
  .skills-container {
    margin: 30px auto;
    padding: 14px;
  }

  .skills-container h1 {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .skill-section h2 {
    font-size: 18px;
  }

  /* SKILLS BUTTONS */
  .skills {
    gap: 10px;
  }

  .skills button {
    padding: 8px 14px;
    font-size: 13px;
  }

   footer {
    padding: 20px ;
    gap: 10px;
  }

  footer a {
    font-size: 10px;
  }

  footer img {
    width: 30px;
    height: 30px;
  }
}
